@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lilita-one-regular {
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
}

.App {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
    background-color: #fafafa;
}


.gap10 {
    gap: 10px;
}
.gap2 {
    gap: 2px;
}
.border {
    border: 1px solid black;
}

.pad5 {
    padding: 5px;
}
.pad2 {
    padding: 2px !important;
}
.marg-bot {
    margin-bottom: 5px;
}


.cursor-point {
    cursor: pointer;
}

.txt-center {
    text-align: center;
}

.fs-10 {
    font-size: 10px;
}
.fs-14 {
    font-size: 14px;
}
.fs-35 {
    font-size: 35px;
}
.fs-50 {
    font-size: 50px;
}
.fs-100 {
    font-size: 100px;
}

.grow1 {
    flex: 1;
}
.grow2 {
    flex: 2;
}
.grow3 {
    flex: 3;
}
.borderBlue {
    border: 1px solid #438bb4 !important;
}
.mw300px {
    max-width: 300px;
}
.txtGreen {
    color: #438bb4;
}

/*----------toll bar------------*/
.tollbar {
    color: #438bb4;
    object-fit: cover;
    background-color: white;
}
.topLine {
    background-color: #438bb4;
    height: 35px;
}
.tollbar img{
    width: 120px;
}

.link {
    text-decoration: none;
    color: #438bb4;
    font-weight: 600;
}
.dropTxtGreen {
    background-color: white !important;
    color: #438bb4 !important;
    text-decoration: none !important;
    font-weight: 600 !important;
}

.link-clicked {
    text-decoration: underline !important;
    cursor: default !important;
    pointer-events: none !important;
}

.link:hover, .dropTxtGreen:hover{
    text-decoration: underline !important;
}

.dropBgGreen {
    background-color: #438bb4 !important;
    border: 1px solid #438bb4 !important;
    color: white;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-toggle:hover  {
    background-color: #1f6287 !important;
    border: 1px solid #1f6287 !important;
    color: white !important;
}

.show .dropdown-toggle {
    background-color: white !important;
    color: #438bb4 !important;
}


/*----------------------------*/





/*-------------footer----------*/

.footer {
    padding: 30px 0;
    background-color: #438bb4;
}




/*--------buttons---------*/

.btnLog {
    background-color: white !important;
    color: #438bb4 !important;
    border: none !important;
}
.btnLog:hover {
    background-color: #1f6287 !important;
    color: white !important;
}


.btnBgGreen, .btnTxtGreen {
    border-radius: 5px !important;
    font-size: 10px !important;
    padding: 7px 14px !important;
    transition: 0.2s ease !important;
}

.btnBgGreen {
    background-color: #438bb4 !important;
    border: 1px solid #438bb4 !important;
    color: white !important;
}
.btnTxtGreen {
    background-color: white !important;
    color: #438bb4 !important;
    border: 1px solid #438bb4 !important;
}

.btnTxtGreen:hover, .btnBgGreen:hover  {
    background-color: #1f6287 !important;
    border: 1px solid #1f6287 !important;
    color: white !important;
}

.btnCloseGreen {
    background-color: white !important;
    color: #438bb4 !important;
    border: 3px solid #ffffff !important;
    padding: 1px 2px !important;
}

.btnCloseGreen:hover {
    border: 3px solid #438bb4 !important;
}

/*--------------------container----------------*/
.container-fluid {
    padding: 50px 0;
}

/*--------------index page-----------*/

.indexTop {
    min-height: 500px;
    position: relative;
    overflow: hidden;
    background-image: url("https://img.freepik.com/free-photo/handsome-doctor-veterinarian-smiling-examining-pet-vet-clinic-checking-pug-dog-with-stethoscope-s_1258-155659.jpg?t=st=1740135972~exp=1740139572~hmac=2be8febef968b4553e1acb3b3d6abd39556bccd5bd1f9fdecabf4b1d2fad7a91&w=1380");
    background-repeat: no-repeat;
    background-position: top center;
}

.indexTop-about {
    position: relative;
    width: 500px;
    z-index: 1;
}

.indexTop-txt {
    border-left: #438bb4 3px solid;
    padding-left: 15px;
    color: #296587;
}

/*-------pet list && medic list-----*/
.petList, .medicList {
    position: relative;
}

/*-----pet card && medic list-------*/
.petCard, .medicCard {
    border: 1px solid #438bb4;
    background-color: #f8f8f8;
}

.inputBlue {
    border: 1px solid #438bb4;
    padding: 0 5px !important;
}


/*------user page-----------------*/

.userPage {
    border: 1px solid #438bb4;
    max-width: 300px;
    background-color: #f8f8f8;
}


/*---------------gallery page------------------*/

.gallery {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) !important;
}

.gallery-div {
    width: 100% !important;
    height: auto;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.gallery-img {
    width: 100%;
    height: auto;
    display: block;
    transition: all 1s ease;
}

.gallery-img-logo {
    top: calc(50% - 25px);
    left: calc(50% - 60px);
    width: 120px;
    height: 50px;
    border-radius: 0 75% 0 75%;
    background-color: #ffffff;
    opacity: 0;
    transition: 0s ease;
    cursor: default;
}
.gallery-img-logo img{
    width: 60%;
    height: auto;
}

/*for every img*/
.active::before {
    content: "";
    position: absolute;
    left: 0;
    top: -200%;
    background: linear-gradient(0deg, rgb(7,64,96) 0%, rgb(7,64,96) 49%, rgb(104,171,209) 50%, rgb(104,171,209) 100%); width: 100%;
    height: 200%;
    transition: background-position 1s ease;
}
.active:hover::before {
    top: 0;
}
.active:hover .gallery-img-logo {
    opacity: 0.8;
    transition-delay: 1s;
}
.active:hover img {
    opacity: 0.5;
}

.active:hover .gallery-img-logo img {
    opacity: 0.8;
}

/*---------------@ media screen---------------------*/

@media screen and (width < 1400px) {

    .indexTop {
        background-position: top right;
    }

}
@media screen and (width < 1200px) {

    .indexTop-txt {
        max-width: 300px;
    }

}

@media screen and (width < 992px) {

    .indexTop {
        background-position: top right calc( -80px);
    }

}

@media screen and (width < 768px) {
    .indexTop {
        background-image: url("./images/bgIndexTop3.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .indexTop-about {
        width: 100%;
    }

    .indexTop > img {
        width: 100%;
        height: auto;
    }
}



@media screen and (width < 576px) {
    .pad2 {
        padding: 2px !important;
    }
    .medic-grid, .pet-grid {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media screen and (width < 456px) {
    .pad2 {
        padding: 2px 0 !important;
    }
    .medic-grid, .pet-grid {
        display: grid !important;
        grid-template-columns: repeat(1, 1fr) !important;
    }
}